@model sfcf.Domain.Entities.Voting

<div>
    <h3>@Model.Title</h3>
    @Model.Description
    <h4>@Model.Category.Name</h4>
    <h4>@Model.DeadLine</h4>
    
        @foreach (var op in @Model.Options)
        {
            <div>
                @using (Html.BeginForm("AddToBetCart", "BetCart"))
                {
                <h4 style="display:inline-block; width: auto;">@op.Title</h4>
                @Html.Hidden("OptionId", op.ID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="number" min="0" placeholder="Размер ставки" name="size" />
                <input type="submit" value="Сделать предварительную ставку" />
                }
            </div>
        }
    
    
</div>
